@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-thumb {
  background: #0f0f0f;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #ff4623;
  --yellow: #ffc000;
  --green: #00ac3e;
  --hover-color: #ff9d8a;
  --dashboardBackground: #f5f5f5;
  --light-yellow: #fffbf6;
  --black50: #e8e8e8;
  --gray-300: #626262;
  --gray-250: #b6b6b6;
  --gray-400: #858585;
  --black: #0f0f0f;
  --lower-nav: #f9f9f9;
  --gray-200: #e8e8e8;
  --gray-100: #f1f1f1;
  --gray-50: #fdfdfd;
  --light-primary: #fbe9eb;
  --light-lavendar: #e2e3ff;
  --table-yellow: #fff6e9;
  --border-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
i,
ul,
li,
a,
/* span, */
button,
input,
label,
textarea,
select {
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.8rem, 1rem, 1rem);
  color: var(--black);
}

h1 {
  font-size: clamp(1.1rem, 2.5rem, 2.5rem);
  font-family: "Roboto Serif", serif;
}

h2 {
  font-size: clamp(1rem, 5em, 2rem);
  font-family: "Roboto Serif", serif;
}

h3 {
  font-size: clamp(1rem, 5em, 2rem);
  font-family: "Roboto Serif", serif;
}

h4 {
  font-size: clamp(1rem, 3em, 2rem);
  font-family: "Roboto Serif", serif;
}

h6 {
  font-weight: 500;
  font-size: clamp(1rem, 1.2rem, 1.2rem);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--primary-color);
}

a.inactive {
  color: var(--black);
}

nav a.active {
  color: var(--primary-color);
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 2000px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
